/* You can add global styles to this file, and also import other style files */
html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
select, option{
    padding:4px;
    border-radius: 4px;
    width:160px;
}
input:focus, select:focus{
    outline: none;
}
select{
    margin-left:8px;
}